*{
    margin: 0;
    padding: 0;
}
body{
background-color:white;
}
.container-fluid{
background-color: #ab63e2;
scroll-padding-bottom: 0;
}
.progress-container {
width: 100%;
position: fixed;
top: 0;
z-index: 1000;
}

.progress-bar {
width: 0;
height: 4px;
background-color: black;
}



nav {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  display: flex;
  font-size: 20px;
  background-color: rgb(224, 209, 245);
  padding: 23px;
}

nav li a {
  text-decoration: none;
  color: rgb(2, 3, 18);
  transition: all;
  transition-duration: 500ms;
}

nav li a:hover {
  text-decoration: none;
  color: rgb(103, 101, 235);
}



nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul {
  display: flex;
}

@media (max-width: 600px) {
  

  nav {
      flex-direction: column;
      font-size: 14px;
  }

  nav ul li {
      margin: 5px 13px;
  }

  nav ul {
      justify-content: center;
  }

  .container {
      max-width: 95vw;
  }
}
.cards {
width: max-content;
margin: auto;
display: flex;
flex-direction: column;
}

.card {
width: 18rem;
height: 18rem;
margin: 10px;
border: 1px solid black;
box-shadow: 0px 2px 4px black;
}

.card:nth-child(even) {
margin-left: 19rem; 
}

.card:nth-child(odd) {
margin-right: 19rem; 
}
.first-line{
font-size: 2rem;
}
.card{
background-color: #e0d1f5;
color: black;
}
